:root {
    --background: #FFFFFF;
    --foreground: #CCCCCC;
    --accent: #ff1000;
    --text: #000000;
    --text-muted: #444444;
    /*--heading-font: 'Stray', "Digital Desolation Plus";*/
    /*--font: "Stray", "Digital Desolation Plus";*/
    --heading-font: 'Elfreth';
    --font: "Times New Roman";
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000000;
        --foreground: #1d1d1d;
        --text: #FFFFFF;
        --text-muted: #666666;
    }
}

body {
    background-color: var(--background);
    color: var(--text);
    font-size: 2em;
    font-family: var(--font), sans-serif;
    overflow: hidden;
}

h1 {
    margin: 0;
    font-family: var(--heading-font), sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    color: var(--accent);
    text-align: center;
}

h2 {
    margin: 0 0 0.5em 0;
    font-family: var(--heading-font), sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: color-mix(var(--accent), var(--text));
    text-align: center;
}

h3, h4, h5, h6 {
    margin: 0 0 0.5em 0;
    font-family: var(--heading-font), sans-serif;
    font-weight: lighter;
    /*line-height: 0.75em;*/
    font-size: 0.8em;
}

.h-rule {
    width: 100%;
}

svg.logo {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin: 1rem;
    vertical-align: top;
}

.logo-accent {
    fill: var(--accent);
}

.logo-main {
    fill: var(--text);
}

.menu-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: visible;
}

.menu-categories {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.menu-section {
    padding: 0.75em;
    max-height: calc(100vh - 1.5em);
    overflow: visible;
    display: flex;
    flex-direction: column;
}

#menu-overview {
    min-width: 25vw;
    max-width: 25vw;
}

.menu-items {
    margin-top: 0.5em;
}

vr {
    margin: 0.5em 0;
    background: var(--text);
    width: 2px;
    border-radius: 2px;
}

.menu-location {
    display: inline-block;
    font-size: 0.6em;
    font-weight: normal;
    margin: 1rem 0;
}

.menu-payment {
    align-items: center;
}

.payment-method {
    width: calc(calc(100% / 6) - 8px);
    flex-shrink: 1;
}

.card {
    background: var(--foreground);
    /*border-radius: 8px;*/
    margin-bottom: 0.5em;
    padding: 0.5em;
}
.card-content {
    font-family: var(--font), Helvetica, Arial, sans-serif;
    font-size: 0.6em;
    font-style: italic;
    padding: 5px 10px 0 10px;
}

.card-heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.card-icon {
    stroke-width: 2px;
    margin: 0.25em 0.5em;
    height: 0.8em;
    vertical-align: top;
    stroke-linejoin: bevel;
    stroke-linecap: round;
    display: inline-flex;
    /*display: none;*/
}

.card-name {
    display: inline-flex;
    flex-grow: 1;
}

.card-price {
    display: inline-flex;
    color: var(--accent);
}

.menu-item {
    padding: 0.5em 0;
}

.menu-item.sold-out {
    display: none;
}

.menu-item:not(:last-child)::after {
    content: "";
    display: block;
    width: 100%;
    position: relative;
    top: 0.5em;
    border-bottom: 1px solid var(--text-muted);
}

#functions-dynamic {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#functions-dynamic::-webkit-scrollbar {
    display: none;
}
