#brand {
    display: flex;
    flex-direction: row;
    gap: 0.75em;
    align-items: center;
    cursor: pointer;
    flex: 0 1 0;
}

svg.logo {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: top;
}

.logo-accent {
    fill: var(--accent);
}

.logo-main {
    fill: var(--text);
}

@media (max-width: 900px) {
    .title {
        display: none;
    }
}

.brand-name {
    display: block;
    font-size: 1em;
    line-height: 1em;
    font-weight: bold;
    white-space: nowrap;
    font-family: var(--heading-font), sans-serif;
}

.branch {
    display: block;
    font-size: 0.5em;
    white-space: nowrap;
    font-family: var(--font), sans-serif;
}

@media (prefers-color-scheme: light) {
    @keyframes disco-mode {
        0% {
            --accent: hsl(0deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 98%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 90%);
        }
        12.5% {
            --accent: hsl(45deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 98%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 90%);
        }
        25% {
            --accent: hsl(90deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 98%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 90%);
        }
        37.5% {
            --accent: hsl(135deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 98%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 90%);
        }
        50% {
            --accent: hsl(180deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 98%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 90%);
        }
        62.5% {
            --accent: hsl(225deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 98%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 90%);
        }
        75% {
            --accent: hsl(270deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 98%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 90%);
        }
        87.5% {
            --accent: hsl(315deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 98%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 90%);
        }
        100% {
            --accent: hsl(360deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 98%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 90%);
        }
    }
}

@media (prefers-color-scheme: dark) {
    @keyframes disco-mode {
        0% {
            --accent: hsl(0deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 2%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 5%);
        }
        12.5% {
            --accent: hsl(45deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 2%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 5%);
        }
        25% {
            --accent: hsl(90deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 2%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 5%);
        }
        37.5% {
            --accent: hsl(135deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 2%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 5%);
        }
        50% {
            --accent: hsl(180deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 2%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 5%);
        }
        62.5% {
            --accent: hsl(225deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 2%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 5%);
        }
        75% {
            --accent: hsl(270deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 2%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 5%);
        }
        87.5% {
            --accent: hsl(315deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 2%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 5%);
        }
        100% {
            --accent: hsl(360deg 100% 50%);
            --background: hsl(from var(--accent) h calc(s / 4) 2%);
            --foreground: hsl(from var(--accent) h calc(s / 4) 5%);
        }
    }
}